*{
    box-sizing: border-box;
}


#chemAnimate-display {
    background: white;
    border-radius: 12px;
    width: 800px;
    margin: 0 auto;
    max-width: 100%
}

.container {
    max-width: 830px
}


.atom {
    transition: 1.2s ease-in-out
}

.spinning {
    display: block;
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#description {
    width: 400px;
    margin: 0 auto
}

html,
body {
    background: black;
    color: white;
}

.list-group-item {
    padding: 1px;
}

.element {
    background: #272727;
    color: white;
    font-weight: bold;
    text-align: center;
    width: 24px;
    display: inline-block
}

.text-warning {
    color: #ccd05f !important
}


#description {
    min-height: 72px
}

.btn-primony {
    background: #3c61b5;
    color: white
}

.btn-primony:hover {
    background: white;
    color: black;
}

#chemAnimate-display{
    margin-top:47px
}

#activity-series{
    background: #444;
    border-radius: 12px;
}

.underlined{
    text-decoration: underline;
}

@media (min-width: 601px){
    .step-outer {
        font-size: 24px;
    }

    .container {
        padding: 20px 40px;
        border: solid 8px white;
        border-radius: 24px;
        background: #201f24;
        color: white;
    }
    
    
 }

